// Colors
$gray: #BEBEBE;
$cream: #F0DCC8;

$primary-pink: #FAE6E6;
$secondary-pink: #F0C8B4;

$primary-brown: #783232;
$secondary-brown: #5A0828;


// Define custom fonts
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../assets/fonts/CormorantGaramond.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maharlika';
    src: url('../assets/fonts/Maharlika.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apricot';
    src: url('../assets/fonts/Apricot.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// Define font variables
$font-roboto: 'Roboto';
$font-cormorant-garamond: 'CormorantGaramond';
$font-apricot: 'Apricot';
$font-maharlika: 'Maharlika';