@import '../../styles/variables';



.brand-name {
    color: $primary-brown;
    font-family: $font-maharlika, sans-serif;
}

.tagline {
    color: $primary-brown;
    font-family: $font-roboto, sans-serif;
}

.copyrights {
    color: $primary-brown;
    font-family: $font-roboto, sans-serif;
}